extends layout
block content
  include ./header.jade
  div#app
    div Conference ID: #{conferenceId}
    include ./templates/transcript
    include ./templates/video
    include ./templates/participants
  include ./templates/partials.html
  script(type='application/javascript', src='/vendor/firebase.js')
  script(type='application/javascript', src='/vendor/RTCMultiConnection-v1.4.js')
  script(type='application/javascript', src='/vendor/jquery-1.10.2.js')
  script(type='application/javascript', src='/vendor/handlebars-1.0.0.js')
  script(type='application/javascript', src='/lib/app.js')
