div#join_dialog
	form
		h2 Joining Conference
		label 
			| <span>Topic:</span>
			input#topic(type='text')
		label 
			| <span>Nickname:</span>
			input#username(type='text')
		label 
			| <span>Email:</span>
			input#email(type='email')
		button#submit_join_request(type='submit') Begin Conference!
