doctype 5
html
  head(lang='en-US')
    title Conf.io | Real-Time Conferences for Everyone
    //- stylesheets
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:400,700')
    link(rel='stylesheet', type='text/css', href='/styles/base.css')
    link(rel='stylesheet', type='text/css', href='/styles/print.css')
    link(rel='stylesheet', type='text/css', href='/styles/landing-page.css')
    //- libraries
    script(type='application/javascript', src='/socket.io/socket.io.js')
    if isProduction
      include ./google-analytics.html
  body
    div#main
      block content
    include ./join
