div.block-ui
	div.chrome-required
		h2 Sorry for the inconvenience, but
		h2.logo Conf.io
		h2 requires Google Chrome 25 or higher.
		h2 
			| Please download to continue. <span>(see you soon)</span>
		div.download-chrome
			span.chrome-icon
			a.download(href='http://www.google.com/chrome/') Download Chrome
