div#transcript
	div.toolbar
		select.language(value='en')
			option(value='en') English
			option(value='af') Afrikaans
			option(value='sq') Albanian
			option(value='ar') Arabic
			option(value='az') Azerbaijani
			option(value='eu') Basque
			option(value='bn') Bengali
			option(value='be') Belarusian
			option(value='bg') Bulgarian
			option(value='ca') Catalan
			option(value='zh-CN') Chinese Simplified
			option(value='zh-TW') Chinese Traditional
			option(value='hr') Croatian
			option(value='cs') Czech
			option(value='da') Danish
			option(value='nl') Dutch
			option(value='eo') Esperanto
			option(value='et') Estonian
			option(value='tl') Filipino
			option(value='fi') Finnish
			option(value='fr') French
			option(value='gl') Galician
			option(value='ka') Georgian
			option(value='de') German
			option(value='el') Greek
			option(value='gu') Gujarati
			option(value='ht') Haitian Creole
			option(value='iw') Hebrew
			option(value='hi') Hindi
			option(value='hu') Hungarian
			option(value='is') Icelandic
			option(value='id') Indonesian
			option(value='ga') Irish
			option(value='it') Italian
			option(value='ja') Japanese
			option(value='kn') Kannada
			option(value='ko') Korean
			option(value='la') Latin
			option(value='lv') Latvian
			option(value='lt') Lithuanian
			option(value='mk') Macedonian
			option(value='ms') Malay
			option(value='mt') Maltese
			option(value='no') Norwegian
			option(value='fa') Persian
			option(value='pl') Polish
			option(value='pt') Portuguese
			option(value='ro') Romanian
			option(value='ru') Russian
			option(value='sr') Serbian
			option(value='sk') Slovak
			option(value='sl') Slovenian
			option(value='es') Spanish
			option(value='sw') Swahili
			option(value='sv') Swedish
			option(value='ta') Tamil
			option(value='te') Telugu
			option(value='th') Thai
			option(value='tr') Turkish
			option(value='uk') Ukrainian
			option(value='ur') Urdu
			option(value='vi') Vietnamese
			option(value='cy') Welsh
			option(value='yi') Yiddish
		h2.conference-title Conference Topic Name
		ul.tools
			li
				button.font-inc Increase Font
			li
				button.font-dec Decrease Font
			li
				button.print Print Transcript 
	div.container
		div.target
